
<!--
<form ng-form (submit)="envoieForm();">
    Nom : <input name="nom">
    <br>
    <input type="file">
    <button>Envoyer</button>
</form>
-->
<button mat-button class="menu-button">
    <a (click)="logout()">Logout</a>
  </button>
  <button mat-button class="menu-button">
   <a (click)="deleteAccount()">Delete Account</a>
  </button>

  <div class="container">
    <h3 class="title">Upload a plugin to your workspace </h3>
    <div class="file-upload">
      <label for="file-upload" class="file-upload-label">
        Choose a file
      </label>
      <input id="file-upload" type="file" (change)="onFileUpload($event)">
    </div>
  </div>
  
  <div class="workspace">
    <h3 class="workspace-title">My Workspace</h3>
    <button class="workspace-button" (click)="getFiles()"  [disabled]="buttonClicked" *ngIf="!buttonClicked">Get Files</button> 
    <div class="file-list">
      <p  *ngFor="let file of files">
        {{file}} 
        <button class="file-action-button" (click)="SharePlugin(file)">Share</button> 
        <button class="file-action-button" (click)="deletePlugin(file)">Delete</button>
        <label for="file-upload" class="file-action-button">
          Update
        </label>
        <input id="file-upload" type="file" (change)="updatePlugin(file, $event)">
      </p>
    </div>
  </div>
  