<header>
    <nav>
        <mat-toolbar color="primary">
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
              <mat-icon>menu</mat-icon>
            </button>
            <span>My App</span>
            <span class="example-spacer"></span>
            <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
              <mat-icon>share</mat-icon>
            </button>
          </mat-toolbar>
    </nav>
</header>
<div _ngcontent-wsk-c196="" class="ctn">
        <label _ngcontent-wsk-c196="" for="site-search">Nom du Plugin</label>
        <input _ngcontent-wsk-c196="" type="search" id="site-search"  >
        <button _ngcontent-wsk-c196=""  color="primary" >
        <span >Rechercher</span>
        </button>
</div>

<a [routerLink]="['/plugin-content']" routerLink="router-link-active">Plugin</a>
<router-outlet></router-outlet>