/* Set background color and font family */
body {
  background-color: #191414;
  font-family: 'Helvetica Neue', sans-serif;
}

/* Position the header at the top of the screen */
.spotify-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #191414;
  z-index: 1;
}

/* Style the header title */
.connectFormHeader {
  color: white;
  font-size: 24px;
  text-align: center;
  margin: 0;
}
