<div class="spotify-header">
    <h2 class="connectFormHeader">WAM Community</h2>
  </div>
  
  <div class="spotify-form">
    <form ngForm (submit)="login(); loginForm.reset()" #loginForm class="connectForm">
      <div class="form-group">
        <mat-form-field class="highlight">
          <input matInput [(ngModel)]="email" name="email" placeholder="Your email" required>
        </mat-form-field>
        <mat-form-field class="highlight">
          <input type = "password" matInput [(ngModel)]="password" name="password" placeholder="Your password" required>
        </mat-form-field>
        <button mat-stroked-button color="primary" class="submit-btn">Connexion</button>
    </div>
    </form>
    <a href="/sign-up">Click here to register</a>
  </div>
  